.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 12em auto;
  grid-template-areas: "app-head app-body";
  padding: 0px;
  width: 90vw;
  font-family: "Roboto"
}

.app_head_grid {
  grid-area: app-head;
  display: grid;
  grid-template-columns: 11em 25em;
  grid-template-rows: 1fr 2.7fr;
  grid-template-areas: "icon login" "icon inner-grid";
  background-color: aquamarine;
}

.app_head_inner_grid {
  text-align: left;
  min-width: 300px;
  grid-area: inner-grid;
}

.home_page_container {
  grid-area: app-body;
  height: auto;
}

nav {
  margin: 0px;
  padding: 0px;
  font-size: 1.6em;
  color: rgb(40, 37, 47);
}

.nav_link {
  color: rgb(40, 37, 47);
}

.nav_link:hover {
  transition: 500ms;
  background-color: rgb(213, 255, 134);
  border-bottom: 2px solid black;
}

.nav_link:active {
  color: rgb(26, 26, 141);
}

.icon {
  height: 9em;
  width: auto;
  margin: 15px 10px 15px 10px;
  grid-area: icon;
}

h1 {
  font-size: 5em;
  /* color: rgb(40, 37, 47); */
  color: rgb(213, 255, 134);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin: 0px;
  padding: 0;
}

h2 {
  font-size: 2em;
  line-height: 1.3em;
}

h3 {
  text-align: left;
  font-size: 1.8em;
  margin: 0px;
  color: rgb(40, 37, 47);
}

h4 {
  text-align: left;
  padding: 10px;
  margin: 0px;
}

h5 {
  font-size: 1em;
  margin: 0px;
}

a {
  text-decoration: none;
  color: unset;
}

label {
  font-size: 0.8em;
  text-align: left;
  margin: 5px;
}

input {
  margin: 3px 5px 3px 5px;
  height: 1.5em;
  width: 70px;
  border-radius: 5px;
  padding: 0px 0px 0px 4px
}

.logged_in {
  grid-area: logged-in;
}

#login_form {
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "user-label pass-label";
}

#username_label {
  grid-area: user-label;
}

#password_label {
  grid-area: pass-label;
}

button {
  background-color: aquamarine;
  border: none;
  padding: 4px 12px 4px 12px;
  margin: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover:enabled {
  background-color: rgb(213, 255, 134);
  transform: scale(1.02);
  transition: 500ms;
  border: 1px solid rgb(64, 136, 98);
}

.login_control {
  background-color: rgb(221, 247, 255);
  border: 2px solid rgb(127, 182, 192);
  border-radius: 10px;
  color: rgb(40, 37, 47);
  margin-top: 5px;
  padding: 4px;
  font-size: 1em;
  width: 375px;
  max-height: 37px;
  grid-area: login;
  display: grid;
  justify-items: left;
}

.login_button {
  font-size: 0.8em;
  padding: 7px;
  margin: 3px;
  width: auto;
  grid-area: login-button;
}

#logout_button {
  grid-area: logout;
}

#login_info {
  display: grid;
  justify-content: left;
  align-items: center;
  padding-left: 10px;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logged-in logout"
}

.article_list {
  display: grid;
  grid-template-rows: auto 80vh;
  grid-template-areas: "head" "scroll";
  background-color: rgb(221, 247, 255);
  padding: 20px 20px 10px 20px;
  margin: 20px;
  max-width: 1000px;
  min-width: 250px;
  height: auto;
}

.article_list_head {
  grid-area: head;
  display: grid;
  grid-template-columns: 15em auto;
  grid-template-rows: 4em 4em;
  grid-template-areas: "title title" "search add-or-select";
}

.article_list_title {
  grid-area: title;
  margin: 0px;
  padding: 0px 0px 20px 0px;
  text-align: left;
  font-size: 1.7em;
}

.article_list_item_title {
  margin: 5px;
  padding: 0px;
  font-size: 1.4em;
  color: rgb(40, 37, 47);
}

.article_search {
  grid-area: search;
  font-size: 1.2em;
  justify-content: right;
}

.article_search_input {
  width: 200px;
  height: 1.6em;
}

.article_add_button {
  grid-area: add-or-select;
  background-color: aquamarine;
  padding: 6px;
  height: auto;
  width: 150px;
  font-size: 0.9em;
  margin: 8px;
}

.add_topic_select {
  grid-area: add-or-select;
  text-justify: left;
}

.article_list_scroll {
  grid-area: scroll;
}

.article_list_scroll_ul {
  height: 90%;
}

.article_add_container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-rows: 60px 7fr 1fr;
  grid-template-areas: "heading current-topic posting-as" "form form form" ". . post-button";
  background-color: rgb(221, 247, 255);
  padding: 20px;
  margin: 20px;
  width: 50%;
  min-width: 530px;
}

.current_topic {
  grid-area: current-topic;
}

.article_add_heading {
  grid-area: heading;
}

.posting_as {
  grid-area: posting-as;
}

.article_add_form {
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr;
  grid-template-areas: "title-input" "body-input"
}

#title_input {
  grid-area: title-input;
  display: grid;
  grid-template-columns: 90px auto;
  grid-template-areas: "title-label text-area";
  font-size: 1.5em;
  margin: 10px 25px 10px 20px;
  justify-self: left;
  text-justify: left;
  width: 90%;
}

#title_input_label {
  grid-area: title-label
}

#title_input_text_area {
  width: 100%;
  font-size: 1.0em;
  padding: 5px;
  height: 1.2em;
  grid-area: text-area;
}

.body_input {
  grid-area: body-input;
  font-size: 1em;
  margin: 20px;
  padding: 5px;
}

.post_button {
  grid-area: post-button;
  font-size: 18px;
  height: 35px;
  margin: 20px;
  width: 200px;
}

ul {
  list-style-type: none;
  text-align: left;
  overflow-x: unset;
  padding: 5px 10px 5px 10px;
  overflow-y: scroll;
  background-color: rgb(206, 223, 206);
}

.article_list_body {
  font-size: 1em;
  margin: 10px;
}

.article_list_item {
  border: 1px solid rgb(198, 213, 255);
  background-color: rgb(255, 255, 255);
  margin: 10px 10px 10px 10px;
  padding: 8px;
}

.article_list_item:hover {
  transform: scale(1.02);
  transition: 500ms;
  border: 1px solid rgb(83, 98, 57);
}

.vote_button {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  padding: 3px 0px 0px 0px;
  font-size: 25px;
  cursor: pointer;
}

.article_container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr;
  min-width: 360px;
  width: 80%;
  margin: 20px;
}

.article_date {
  font-size: 0.8em;
  color: rgb(70, 70, 70);
  margin: 10px 0px 5px 0px;
}

.side_bar {
  background-color: rgb(206, 223, 206);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 40px 40px 40px 1fr;
  align-items: center;
  justify-items: center;
  width: 80px;
}

.article {
  font-size: 1em;
  line-height: 24px;
  text-align: left;
  overflow-x: unset;
  padding: 10px 40px 10px 30px;
  height: 70vh;
  overflow-y: scroll;
}

.comments_section {
  display: flex;
  flex-direction: column;
}

.comment_side_bar {
  background-color: rgb(194, 253, 255);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 40px;
  padding: 20px;
}

.comment {
  display: grid;
  grid-template-columns: 8fr 1fr;
  grid-template-rows: 1fr;
  border: 1px solid rgb(158, 229, 231);
  background-color: rgb(221, 247, 255);
  font-size: 1em;
  line-height: 20px;
  margin: 10px 0px 10px 0px;
  padding: 0px;
}

.comment_main {
  padding: 20px;
}

.comment_user {
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0px 10px 0px 0px;
}

#comment_delete_button {
  font-size: 0.8em;
  color: rgb(255, 255, 255);
  height: auto;
  width: auto;
  border-radius: 3px;
  background-color: rgba(255, 58, 58, 0.685);
  margin-left: 10px;
}

#article_delete_button {
  font-size: 0.8em;
  color: rgb(255, 255, 255);
  height: auto;
  width: auto;
  border-radius: 3px;
  background-color: rgba(255, 58, 58, 0.685);
  margin: 0px 0px 20px 10px;
}

#comment_delete_button:hover {
  transition: none;
  transform: none;
  border: 1px solid rgb(51, 12, 12);
  background-color: rgb(255, 56, 56);
}

.comment_body_input {
  height: 100px;
  width: 95%;
  margin: 0px 10px 0px 10px;
  font-size: 1.2em;
}

.vote_count {
  margin: 0px;
  font-size: 0.9em;
}