.App {
    display: grid;
    text-align: center;
    padding: 0px;
}

.app_head_grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(117, 255, 158);
}

.app_head_inner_grid {
    text-align: left;
}

nav {
    margin: 0px;
    padding: 0px 0px 10px 20px;
    font-size: 1.8em;
    color: rgb(40, 37, 47);
}

.nav_link {
    color: rgb(40, 37, 47);
}

.nav_link:active {
    color: rgb(26, 26, 141);
}

h1 {
    font-size: 6em;
    color: rgb(40, 37, 47);
    margin: 0px;
    padding: 10px 10px 0px 20px;
}

h2 {
    font-size: 2.5em;
    line-height: 1.3em;
}

h3 {
    text-align: left;
    font-size: 1.8em;
    margin: 0px;
    color: rgb(40, 37, 47);
}

h4 {
    text-align: left;
    padding: 10px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: unset;
}

label {
    font-size: 0.8em;
    text-align: left;
    margin: 5px;
}

input {
    margin: 3px 5px 3px 5px;
    height: 1.5em;
    border-radius: 5px;
}

button {
    background-color: rgb(117, 255, 158);
    border: none;
    padding: 4px 12px 4px 12px;
    margin: 5px;
    font-size: 0.8em;
}

button:hover {
    background-color: rgb(165, 255, 165);
}

.login_control {
    background-color: rgb(221, 247, 255);
    color: rgb(40, 37, 47);
    margin: 10px;
    font-size: 1.2em;
    width: 280px;
}

.article_list {
    display: grid;
    grid-template-columns: 1.5fr 2fr 2fr;
    grid-template-rows: 60px 35px auto;
    grid-template-areas: "head head search" "add-button . ." "scroll scroll scroll";
    background-color: rgb(221, 247, 255);
    padding: 20px 20px 10px 20px;
    margin: 20px;
    width: 50%;
    min-width: 800px;
}

.article_list_head {
    grid-area: head;
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-size: 2em;
}

.article_list_title {
    margin: 0px;
    padding: 0px;
    font-size: 1.3em;
    color: rgb(40, 37, 47);
}

.article_search {
    grid-area: search;
}

.article_add_button {
    grid-area: add-button;
    background-color: aquamarine;
    height: 30px;
}

.add_topic_select {
    grid-area: add-button;
}

.article_list_scroll {
    grid-area: scroll;
}

.article_add_container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-auto-rows: 60px auto 40px;
    grid-template-areas: "heading username" "form form" ". post-button";
    background-color: rgb(221, 247, 255);
    padding: 20px 20px 10px 20px;
    margin: 20px;
    width: 50%;
    min-width: 500px;
}

.article_add_form {
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    height: 450px;
    margin: 10px;
}

title_input {
    height: 30px;
    width: 90%;
    margin-bottom: 10px;
}

body_input {
    height: auto;
    width: 90%;
    margin: 0px;
}

.post_button {
    grid-area: post-button;
    font-weight: bold;
    height: 30px;
    width: 80px;
    margin: 0px;
}

ul {
    list-style-type: none;
    text-align: left;
    overflow-x: unset;
    padding: 5px 10px 5px 10px;
    height: 61vh;
    overflow-y: scroll;
    background-color: rgb(206, 223, 206);
}

.article_list_body {
    font-size: 0.8em;
}

.article_list_item {
    border: 1px solid rgb(198, 213, 255);
    background-color: rgb(255, 255, 255);
    margin: 10px 10px 10px 10px;
    padding: 8px;
}

.vote_button {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    padding: 0px;
    font-size: 25px;
    cursor: pointer;
}

.article_container {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr;
    min-width: 800px;
    width: 70%;
    margin: 20px;
}

.article_date {
    font-size: 0.8em;
    color: rgb(70, 70, 70);
    margin: 10px 0px 5px 0px;
}

.side_bar {
    background-color: rgb(206, 223, 206);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 80px;
}

.article {
    font-size: 1em;
    line-height: 24px;
    text-align: left;
    overflow-x: unset;
    padding: 10px 40px 10px 30px;
    height: 70vh;
    overflow-y: scroll;
}

.comments_section {
    display: flex;
    flex-direction: column;
}

.comment_side_bar {
    background-color: rgb(194, 253, 255);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 40px;
    padding: 20px;
}

.comment {
    display: grid;
    grid-template-columns: 8fr 1fr;
    grid-template-rows: 1fr;
    border: 1px solid rgb(158, 229, 231);
    background-color: rgb(221, 247, 255);
    font-size: 1em;
    line-height: 20px;
    margin: 10px 0px 10px 0px;
    padding: 0px;
}

.comment_main {
    padding: 20px;
}

.comment_user {
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0px;
}

.vote_count {
    margin: 0px;
    font-size: 0.9em;
}